
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 79 33% 98%;
    --foreground: 182 16% 38%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 183 36% 47%;
    --primary-foreground: 210 40% 98%;

    --secondary: 100 30% 69%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 53 94% 50%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 97 49% 65%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 183 36% 80%;
    --input: 183 36% 80%;
    --ring: 183 36% 47%;

    --radius: 0.75rem;
  }

  .dark {
    --background: 183 36% 20%;
    --foreground: 210 40% 98%;

    --card: 183 36% 24%;
    --card-foreground: 210 40% 98%;

    --popover: 183 36% 24%;
    --popover-foreground: 210 40% 98%;

    --primary: 53 94% 50%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 183 36% 47%;
    --secondary-foreground: 210 40% 98%;

    --muted: 183 36% 33%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 183 36% 33%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 183 36% 40%;
    --input: 183 36% 40%;
    --ring: 53 94% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

@layer components {
  .health-gradient {
    @apply bg-gradient-to-br from-health-teal to-health-blue;
  }
  
  .health-gradient-alt {
    @apply bg-gradient-to-br from-health-green to-health-lightGreen;
  }
  
  .health-card {
    @apply border bg-white rounded-xl p-4 shadow-sm;
  }
}
